/* ESTILOS GLOBALES */

* {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  margin-top: 115px;
  position: relative;
}

/* HEADER */

header nav {
  display: flex;
  position: fixed;
  flex-direction: row;
  top: 0px;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  z-index: 999;
}

header ul a {
  color: rgb(216, 216, 216);
  text-decoration: none;
}

/* PORTADA*/

.portada {
  background-color: rgb(26, 26, 26);

} 

main section div {
  justify-content: center;
  align-items: center;
}

.portada h1 {
  color: rgb(216, 216, 216);
  font-size: 2rem;
}

.portada img {
  padding: 2rem;
  margin: 2rem;
}

.portada p {
  font-size: 1.2rem;
  color: rgb(216, 216, 216);
  border-width: 0.12rem;
  border-style: solid;
  border-color: white;
  border-radius: 2rem;
  padding: 2rem;
  margin: 2rem;
}

.portada a {
  font-size: 1.2rem;
  color: rgb(216, 216, 216);
  padding: 2rem;
  margin: 2rem;
  text-decoration: none;
}

#img-principal {
 width: 75vh;
}

/* INICIO */

.modelos {
  background: rgb(80, 80, 80);
}

/* BOLETIN DE NOTICIAS */

.noticias {
  background-color: rgb(59, 59, 59);
  border: 2px;
  border-color: black;
}

#boton-noticias {
  width: 80px;
}

#email {
  width: 200px;
}

/* FOOTER */

footer {
  background-color: rgb(43, 44, 36);
}

footer a {
  text-decoration: none;
  color: white;
}

footer li img {
  width: 25px;
}

#img-footer {
  max-width: 1200px;
  min-width: 320px;
  width: 75vw;
}