/* PORTADA */

.portada {
    display: flex;
    text-align: center;
    background: radial-gradient(circle, rgba(50, 57, 73, 1) 0%, rgba(33, 33, 41, 1) 80%);

    .center {
        justify-content: center;
        align-items: center;
    }

    .row {
        margin-right: auto;
    }

    .btn-light {
        --bs-btn-bg: black;
        --bs-btn-hover-bg: none;
    }

    h1 {
        margin-top: 1rem;
    }

    p {
        font-size: 1.2rem;
        border-width: 0.1rem;
        border-style: solid;
        border-color: $color-texto;
        border-radius: 2.5rem;
        padding: 2rem;
        margin: 2rem;
        box-shadow: 0 0 5px $color-texto;
    }

    a {
        font-size: 1.2rem;
        color: $color-texto;
        margin: 2rem;
        text-decoration: none;
    }

    img {
        width: 100%;
        max-width: 75vh;
    }
}

/* INICIO */

.box-modelos {
    background: $color-bg;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    margin-top: 0;

    img {
        width: 100%;
        max-width: 75vh;
    }

    .tarjeta {
        font-size: 1rem;
        padding: 2.5rem;

        h3 {
            padding-bottom: 0.5rem;
        }
    }
}

/* BOLETIN DE NOTICIAS */

.noticias {
    background-color: $color-bg-2;
    color: $color-texto;
    padding: 1rem;

    .center {
        justify-content: center;
        align-items: center;
    }

    h3 {
        margin-bottom: 0;
    }

    img {
        max-width: 1050px;
        width: 75vw;
        margin-bottom: 33.59px;
    }
}

.noticias-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1rem;

    input {
        width: 100px;
    }

    #email {
        margin: 1rem;
        width: 250px;
    }
}