/* ESTILOS GLOBALES */

* {
    font-family: "Jost", sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

$color-texto: rgb(216, 216, 216); // variable definida en este scss ya que no tomaba las variables de _vars.scss

main {
    margin-top: 111.98px;
}

h1 {
    color: $color-texto;
    font-size: 2rem;
    letter-spacing: 3px;
}

h2 {
    color: $color-texto;
    letter-spacing: 3px;
}

h3 {
    color: $color-texto;
}

hr {
    margin: auto;
    color: #4c5265;
}

.row {
    --bs-gutter-x: 0;
    margin-top: 0;
}

p {
    margin-bottom: 0;
    color: $color-texto;
}